.dataElement {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 15px 10px 24px 10px;
  background-color: rgb(235, 235, 229);
}

.infosElement {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

input.inputIv {
  width: 24px;
  background-color: rgb(235, 235, 229);
}

input.inputLevel {
  width: 30px;
  background-color: rgb(235, 235, 229);
}

th.finalStat {
  width: 30px;
}

th.spanIv {
  height: 25px;
  font-size: 1rem;
}

button.submitBtn {
  background-color: red;
  color: white;
  border: 3px solid red;
  border-radius: 4px;
  height: 30px;
  width: 100px;
  font-weight: bold;
  margin-right: 10px;
}

button.submitBtn:hover {
  cursor: pointer;
  border: 3px solid rgb(177, 3, 3);
  background-color: rgb(177, 3, 3);
}

button.resetBtn {
  background-color: rgb(171, 171, 192);
  color: white;
  border: 3px solid rgb(171, 171, 192);
  border-radius: 4px;
  height: 30px;
  width: 100px;
  font-weight: bold;
  margin-left: 5px;
}

button.resetBtn:hover {
  cursor: pointer;
  border: 3px solid rgb(125, 125, 146);
  background-color: rgb(125, 125, 146);
}

.nature {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 20%;
  height: 25px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.5em;
  background-color: rgb(235, 235, 229);
  border: 1px solid black;
}
