.dataElement {
  padding: 15px 10px 24px 10px;
  background-color: rgb(235, 235, 229);
}

.infosElement {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

input.inputIv {
  width: 24px;
  background-color: rgb(235, 235, 229);
}

th.finalStat {
  width: 30px;
}

th.spanIv {
  width: 87px;
  height: 25px;
}

button.submitBtn {
  background-color: red;
  color: white;
  border: 3px solid red;
  border-radius: 4px;
  height: 30px;
  width: 100px;
  font-weight: bold;
}

button.submitBtn:hover {
  cursor: pointer;
  border: 3px solid rgb(177, 3, 3);
  background-color: rgb(177, 3, 3);
}
