.mainButtonElement {
  display: grid;
  grid-template-areas:
    "title"
    "inputNbuttonElement";
  grid-template-rows: 1fr 70px;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
}

.title {
  grid-area: title;
  padding: 15px;
  margin: 2px 0px 20px 0px;
  width: 100%;
}

.inputButtonElement {
  grid-area: inputNbuttonElement;
  display: grid;
  grid-template-areas: "input button";
  grid-template-columns: 85% 15%;
  justify-self: center;
  width: 100%;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  grid-area: input;
  height: 38px;
  width: 100%;
  border: solid 0.5px lightgray;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 5px;
  margin: 30px 0px 5px 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 70px;
  width: calc(100% + 4px);
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.mainButton {
  grid-area: button;
  height: 41px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: solid 0.5px red;
  background-color: red;
  color: white;
  font-weight: bold;
  margin: 30px 0px 5px 0px;
}

.mainButton:hover {
  cursor: pointer;
  background-color: rgb(177, 3, 3);
  border: solid 0.5px rgb(177, 3, 3);
}

@media (max-width: 650px) {
  .title {
    width: 90%;
  }

  img {
    width: inherit;
  }

  .inputButtonElement {
    width: 80%;
  }
}
