.mainElement {
  display: grid;
  grid-template-areas:
    "mainButtonElement"
    "error"
    "dataElement"
    "statsElement"
    "abilities"
    "baseStatsElement";
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}

.errorContainer {
  grid-area: error;
  display: grid;
  align-content: center;
  justify-content: center;
  height: 50px;
  border-radius: 3px;
  background-color: rgb(219, 159, 159);
}

.error {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: rgb(104, 3, 3);
  font-weight: bold;
}

.mainButtonElement {
  grid-area: mainButtonElement;
}

.dataElement {
  grid-area: dataElement;
}

.statsElement {
  grid-area: statsElement;
}

.abilities {
  grid-area: abilities;
}

.baseStatsElement {
  grid-area: baseStatsElement;
}
