.baseStatsElement {
  padding: 10px 10px 24px 10px;
  background-color: rgb(235, 235, 229);
  display: grid;
}

.baseStatsTable {
  display: table;
  width: 100%;
  border-width: 1px 0;
  border-style: solid;
  margin: 0 auto 1rem;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: grey;
}

th,
td {
  padding: 4px 10px;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

.cellNum {
  white-space: nowrap;
  text-align: right;
  font-weight: bold;
}

.barchartBar {
  height: 0.75rem;
  border-radius: 4px;
  background-color: #a3a3a3;
  border: 1px solid #737373;
  border-color: rgba(0, 0, 0, 0.15);
}

.cellBarchart {
  width: 100%;
  min-width: 150px;
}
